<header>
  <div id="logo">
    <img src="logo.png" alt="Website logo, a server" />
  </div>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Management</a>
      </li>
      <li>
        <button appButton>
          Logout
          <!--  
              On projet cet element via ngProjectAs dans le composant button 
              Ensuite dans le template du composant button, on utilise un ng-content select pour 
               cibler cet element et lui appliquer une classe d'icon
           -->
          <span ngProjectAs="icon"> → </span>
        </button>
      </li>
    </ul>
  </nav>
</header>
